// import fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Pen+Script&display=swap")

// global container
.container
  margin: 0 auto
  padding: 0 15px
  max-width: calc(1024px + 15px * 2)


// scrollbar
body::-webkit-scrollbar
  width: 0

// body styles
body
  background-color: var(--body-bg)
  overflow-x: hidden

// footer bottom
.App
  min-height: 100vh
  display: flex
  flex-direction: column

// 1024 960 900 860 768 840 659 640 510 480 450 470 375 340 300