.quiz__card {
    overflow: hidden;

    padding: 40px 30px;

    width: calc((100% - 50px) / 3);

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: #F5F5F5;
    border: 1px solid #E9E9E9;
    border-radius: 32px;

    cursor: pointer;
}

.quiz__card:nth-child(4),
.quiz__card:nth-child(5) {
    width: calc((100% - 25px) / 2);
}

.quiz__card-type {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #757575;
    text-transform: uppercase;
}

.quiz__card-content {
    display: grid;
}

.quiz__card-title {
    grid-area: 1 / 1;
    transition: opacity 0.3s;

    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #1E1E1E;

    &.active {
        opacity: 0;
    }
}

.quiz__card-description {
    grid-area: 1 / 1;
    transition: opacity 0.3s;

    opacity: 0;
    pointer-events: none;

    margin-top: auto;

    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #434343;

    &.active {
        opacity: 1;

        margin-top: auto;
    }
}

@media (max-width: 780px) {
    .quiz__card {
        width: 100%;
    }

    .quiz__card:nth-child(4),
    .quiz__card:nth-child(5) {
        width: 100%;
    }
}