.context {}

.context__box {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.context__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #434343;

    & > span {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #757575;
        text-transform: uppercase;
    }
}