.card {
    padding: 40px 30px;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: #F5F5F5;
    border: 1px solid #E9E9E9;
    border-radius: 32px;

    cursor: pointer;

    &.mobile {
        padding-bottom: 0;
    }
}

.card__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #1E1E1E;
}

.card__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #757575;
}

.card__image.mobile {
    max-width: 210px;
    width: 100%;

    align-self: center;
}