.links__box {
    padding: 40px 30px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;

    border: 1px solid #E9E9E9;
    border-radius: 32px;
    background-color: #F5F5F5;
}

.links__title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #1E1E1E;
}

.links__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.links__link {
    padding: 20px 40px;

    border: 2px solid #D9D9D9;
    border-radius: 80px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #1E1E1E;
    text-align: center;

    cursor: pointer;

    & * {
        cursor: pointer;
    }
}

@media (max-width: 940px) {
    .links__list {
        flex-wrap: wrap;
    }

    .links__list > a:nth-child(1),
    .links__list > a:nth-child(2) {
        width: calc((100% - 25px) / 2);
    }

    .links__list > a:nth-child(3) {
        width: 100%;
    }

    .links__list > a:nth-child(1) > .links__link,
    .links__list > a:nth-child(2) > .links__link {
        width: 100%;
    }

    .links__list > a:nth-child(3) > .links__link {
        width: 100%
    }
}

@media (max-width: 750px) {
    .links__list > a:nth-child(1),
    .links__list > a:nth-child(2) {
        width: 100%
    }

    .links__list > a:nth-child(3) {
        width: 100%;
    }

    .links__list > a:nth-child(1) > .links__link,
    .links__list > a:nth-child(2) > .links__link {
        padding: 20px 10px;

        width: 100%;
    }

    .links__list > a:nth-child(3) > .links__link {
        padding: 20px;

        width: 100%;
    }
}

@media (max-width: 400px) {
    .links__link {
        gap: 10px;

        font-size: 5vw;
    }
}