.redirect {
    width: 45px;
    height: 45px;

    position: absolute;
    right: 20px;
    top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #D9D9D9;
    border-radius: 50%;
    background-color: #E6E6E6;

    color: #757575;

    transition: all 0.3s ease;

    &.active {
        display: none;
    }

    &:hover,
    &:hover * {
        cursor: pointer;
    }
}