.link {
    width: 45px;
    height: 45px;

    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #E6E6E6;
    border: 2px solid #D9D9D9;
    border-radius: 50%;

    color: #757575;

    transition: all 0.2s ease;

    &.active {
        opacity: 0;
    }
}

.link-links {
    width: 45px;
    height: 45px;

    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #E6E6E6;
    border: 2px solid #D9D9D9;
    border-radius: 50%;

    color: #757575;

    transition: all 0.2s ease;

    &.active {
        background-color: transparent;
        border: 2px solid white;

        color: white;
    }
}

@media (hover: hover) {
    .link-links.hover {
        transition: all 0.2s ease;

        background-color: transparent;
        border: 2px solid white;

        color: white;
    }
}