.links {
    animation: Links 0.5s ease;
}

@keyframes Links {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

.links__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}